<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" targetFramework="net48" />
  <package id="Microsoft.Net.Http" targetFramework="net48" />
  <package id="Newtonsoft.Json" targetFramework="net48" />
  <package id="SQLite" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" targetFramework="net48" />
  <package id="System.Buffers" targetFramework="net48" />
  <package id="System.Memory" targetFramework="net48" />
  <package id="System.Numerics.Vectors" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe"  targetFramework="net48" />
  <package id="System.Xml.ReaderWriter" targetFramework="net48" />
  <package id="System.Xml.XDocument" targetFramework="net48" />
  <package id="System.Xml.XmlDocument" targetFramework="net48" />
  <package id="System.Xml.XmlSerializer" targetFramework="net48" />
  <package id="System.Xml.XPath" targetFramework="net48" />
  <package id="System.Xml.XPath.XDocument" targetFramework="net48" />
  <package id="System.Xml.XPath.XmlDocument" targetFramework="net48" />
</packages>
